name: Ci

on:
    push:
    pull_request:
    schedule:
        - cron: '0 0 1,16 * *'

jobs:
    php-unit:
        name: PHP ${{ matrix.php }}, Symfony ${{ matrix.symfony }} - ${{ matrix.deps }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: [ 8.2, 8.3 ]
                deps: [ highest ]
                symfony: [ 7.3.*, 7.4.* ]
                include:
                    -   php: 8.2
                        deps: lowest
                        symfony: '*'
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4
            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    coverage: none
                    tools: flex
            -   name: Install dependencies
                uses: ramsey/composer-install@v3
                with:
                    dependency-versions: ${{ matrix.deps }}
                    composer-options: --prefer-dist
                env:
                    SYMFONY_REQUIRE: ${{ matrix.symfony }}
            -   name: PHPUnit
                run: ./tools/phpunit
    php-stan:
        name: PHPStan
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4
            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.4
            -   name: Install dependencies
                uses: ramsey/composer-install@v3
            -   name: PHPStan
                run: ./tools/phpstan analyse
    php-cs-fixer:
        name: PHP-CS-Fixer
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4
            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.2
            -   name: Install dependencies
                uses: ramsey/composer-install@v3
            -   name: PHP-CS-Fixer
                run: ./tools/php-cs-fixer fix --dry-run --diff
    twig-cs-fixer:
        name: Twig-CS-Fixer
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4
            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.2
            -   name: Install dependencies
                uses: ramsey/composer-install@v3
            -   name: Twig-CS-Fixer
                run: ./tools/twig-cs-fixer lint
    rector:
        name: Rector
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4
            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.2
            -   name: Install dependencies
                uses: ramsey/composer-install@v3
            -   name: Rector
                run: ./tools/rector --dry-run
